@import url(/style/header.css);

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}

.header-fullscreen {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-height: 100vh;
  width: 100%;
  background-image: url(/img/header_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .contaienr-fullscreen {
  /* max-width: 1170px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; */

.header-nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  display: flex;
  flex-wrap: wrap;
}
.header-link {
  margin: 0 30px;
  opacity: 0.74;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 0.35s ease-in-out;
}
.header-link:last-child {
  margin: 0 0 0 30px;
}
.header-link:hover {
  color: #e84545;
  opacity: 1;
  cursor: pointer;
}

.header-wrapper::before {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 35px auto 125px;
}

.header-title {
  font-family: 'OpenSans', sans-serif;
  font-size: 65px;
  line-height: 71px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto 41px;
}
.header-text {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #ffffff;
  max-width: 912px;
  margin: 0 auto 41px;
  text-align: center;
}

.fullscreen-btn {
  display: block;
  background-color: #e84545;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 46px 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin: 76px auto 120px;
  transition: all 0.25 ease-in-out;
}

.fullscreen-btn:hover {
  cursor: pointer;
  background-color: #e95f5f;
}

.fullscreen-btn:active {
  transform: scale(0.97);
}

.cards {
  width: 100%;
}
.cards-wrapper {
  margin-top: 60px;
}

.cards-upper-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.cards-lower-items {
  padding-bottom: 123px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-item {
  /* margin: 0 35px 123px; */
  margin: 60px 35px 0;
  max-width: 310px;
  text-align: center;
}
.cards-item__title {
  margin: 34px 0 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
}
.cards-item__text {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
}

.cards-item__img {
  max-width: 60px;
  max-height: 45.5px;
}

.employees {
  width: 100%;
}

.employees-wrapper {
  padding-top: 101px;
  padding-bottom: 99px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.employees-card {
  max-width: 255px;
  margin: 0 15px 25px;
}
.employee-name {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #2d3033;
}
.employee-title {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #e84545;
}
.employee-feedback {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
  margin: 29px 0 30px;
}
.employee-socials {
  display: flex;
  justify-content: space-between;
  max-width: 131px;
}
.employee-social__item {
  margin-right: 3px;
  text-align: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e8ecee;
  transition: all 0.15s ease-in-out;
}

.employee-socials__item-item {
  width: 8px;
  height: 18px;
  color: #c6cacc;
}

.employee-social__item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  transform: skewY(10deg);
}

.download {
  width: 100%;
}

.download-wrapper {
  padding: 99px 0;
  text-align: center;
}
.download-title {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  line-height: 31px;
  font-weight: 300;
  color: #2d3033;
}
.download-subtitle {
  margin: 16px 0 39px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
}
.download-btn {
  margin: auto;
}

.about {
  width: 100%;
  background-image: url(/img/background_about.png);
}

.about-wrapper {
  display: flex;
  justify-content: center;
  padding: 72px 0 77px;
}

.about-item {
  margin: 0 15px 0;
  width: 330px;
  text-align: center;
  margin-bottom: 35px;
}

.about-header {
  margin-bottom: 21px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.about-text {
  opacity: 0.5;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.about-socials {
  background: none;
  margin: 0 3px 0;
  border: 2px solid #ffffff;
}

.about-socials-item {
  width: 20px;
  height: 14px;
  color: #ffffff;
}
.about-middle-column {
  margin: auto;
}

.about-socials:hover {
  background-color: #5b6096;
}

.footer {
  width: 100%;
  background-image: url(/img/background_foolter.png);
}

.footer-copyright {
  padding: 30px 0 29px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #808080;
}

.love {
  font-family: Webdings;
  color: #e84545;
}
.made-by__name {
  color: #ffffff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 379px));
  justify-items: stretch;
  justify-content: center;
  gap: 1px;
}
.gallery-photo-set {
  position: relative;
}
.gallery-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: #ce3434;
}
.gallery-title {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 13px;
}
.gallery-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.gallery-hover-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.75s ease-in-out;
  text-align: center;
}

.gallery-photo {
  display: block;
  height: 276px;
  width: 100%;
}
.gallery-photo-set:hover .gallery-overlay {
  opacity: 0.7;
}
.gallery-photo-set:hover .gallery-hover-info {
  opacity: 1;
}

.quotes {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: center;
  grid-auto-flow: column; */
  display: flex;
  width: 100%;
}

.quotes-person {
  width: 50%;
}
.quotes-person__photo {
  width: 100%;
  height: 100%;
}

.slideshow-container {
  position: relative;

  width: 50%;
  background-image: url(/img/quotes_background.png);
}

.mySlides {
  text-align: left;
  margin: 60px 0 0 86px;
  max-width: 500px;
}
.quotes-quote {
  font-family: 'Cardo', serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}
.author {
  margin: 30px 0 42px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin-top: -30px;
  padding: 16px;
  color: #ffffff;

  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(117, 80, 124, 0.8);
  color: white;
}

.dot-container {
  display: flex;
  user-select: none;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 70px;
  margin-left: 30%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.active,
.dot:hover {
  opacity: 1;
}
@media (max-width: 1188px) {
  .employees-card:last-child {
    display: none;
  }
}
@media (max-width: 1150px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(100px, 379px));
  }
  .gallery-photo-set:nth-child(7) {
    display: none;
  }
  .gallery-photo-set:nth-child(8) {
    display: none;
  }
  .quotes-person {
    width: 40%;
  }
  .slideshow-container {
    width: 60%;
  }
  .quotes-quote {
    font-size: 26px;
    line-height: 28px;
  }
  .author {
    font-size: 10px;
  }
}

@media (max-width: 950px) {
  .header-title {
    font-size: 40px;
    text-align: center;
    line-height: normal;
    max-width: 700px;
  }
  .header-text {
    font-size: 16px;
    max-width: 700px;
    line-height: normal;
  }
  .quotes-person {
    display: none;
  }
  .slideshow-container {
    width: 100%;
  }
}

@media (max-width: 902px) {
  .gallery {
    grid-template-columns: repeat(2, minmax(100px, 470px));
  }
  .gallery-photo-set:nth-child(5) {
    display: none;
  }
  .gallery-photo-set:nth-child(6) {
    display: none;
  }
  .employees-card:nth-child(3) {
    display: none;
  }

  .header-title {
    font-size: 34px;
  }
  .header-navigation {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
}

@media (max-width: 650px) {
  .mySlides {
    margin: 60px 43px 0 48px;
  }
}

@media (max-width: 600px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 50px 0 40px;
  }
  .gallery-photo {
    max-height: 220px;
  }
  .employees-card:nth-child(3) {
    display: block;
  }
  .employees-card:last-child {
    display: block;
  }
  .header-title {
    font-size: 25px;
  }
  .header-wrapper::before {
    margin-bottom: 75px;
  }
  .fullscreen-btn {
    width: 100%;
    margin-top: 130px;
  }
}
